body {
    background-color: lightyellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
}

h2 {
    margin-top: 50px;
    font-size: xx-large;
    text-decoration: underline;
}

/* BOTONES */
.botones {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}

button {
    height:90px;
    border-radius: 5px;
    font-size: xx-large;
    font-weight: bolder;
    text-transform: uppercase;
    color: gray;
    width: 200px;
    border-top: 1px solid darkslategray;
    border-left: 1px solid darkslategray;
    border-right: 2px solid gray;
    border-bottom:  2px solid gray;
}
.icon {
    width: 20px;
}

.btn-container {
    width: 210px;
}

.btn1 {
    transition-duration: 0.1s;
    position: relative;
    width: 210px;
    overflow: hidden;
    background-color: teal;
    border: 2px solid black;
}

.btn1 .icon {
    margin: 0 auto;
    left: 90px;
    color: white;
    top: -35px;
    position: absolute;
    transition-timing-function: ease;
    transition-duration: .3s;
}

.btn1 p {
    width: 130px;
    margin: 0;
    left: 37px;
    top: 27px;
    color: white;
    position: absolute;
    transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-delay: 0.1s;
}
.btn1:hover {
    border: 2px solid white;
}
.btn1:hover .icon {
    transform: translateY(67px);
}

.btn1:hover p {
    transform: translateY(55px);
    color: transparent;
}

.btn2 {
    transition-duration: 2s;
    width: 170px;
    position: relative;
    text-align: left;
    overflow: hidden;
    background-color: thistle;
}

.btn2 .icon {
    transition-duration: 1s;
    color: black;
    padding-left: 10px;
}

.btn2:active {
    background-color: #6585ab;
}


.btn2:active .icon {
    color: white;
    transform: translateX(170px);
}


.btn3 {
    transition-duration: .1s;
    transition-timing-function: ease-in;
    border-top: 2px solid gray;
    border-left: 2px solid gray;
    border-right: 4px solid darkslategray;
    border-bottom:  4px solid darkslategray;
    width: 90px;
    height: 90px;
    position: relative;
    text-align: center;
}

.btn3 .icon {
    transition-duration: 0;
}

.btn3:hover {
    border-top: 4px solid black;
    border-left: 4px solid black;
    border-right: 2px solid darkslategray;
    border-bottom:  2px solid darkslategray;
    background-color: #6585ab;
    transform: scale(0.99);
}

.btn3:hover .icon {
    color: white;
}

/* CAPTION */
.caption {
    display: flex;
}
img {
    overflow: hidden;
    width: 300px;
    padding: 0;
    transition-duration: 1s;
}

figure {
    background-color: white;
    position: relative;
    border: 10px solid black;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

figcaption {
    background-color: black;
    width: 100%;
    color: white;
    padding: 15px 0;
    opacity: 0;
    text-align: center;
    transition-duration: 1s;
    position: absolute;
    top: 0;
    left: 0;
}

.fig1:hover figcaption {
    opacity: .7;
    transform: translateY(110px);
}

.fig2 figcaption {
    transition-duration: 1s;
    padding: 20px;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bolder;
    text-align: left;
    vertical-align: text-top;
    top: 0px;
    left: 300px;
    border-bottom-left-radius: 50px;
}

.fig2:hover figcaption {
    transform: translateX(-120px);
    opacity: 1;
    right: 0;
}

.fig3 figcaption {
    opacity: 0;
    width: 25%;
    position: absolute;
    left: -50px;
    top: 170px; 
    border-top-right-radius: 50px;
}

.fig3:hover figcaption {
    opacity: 1;
    background-color: white;
    color: black;
    transform: scale(1.5) translateY(-110px) translateX(175px);
    border-bottom-left-radius: 50px;
    border-top-right-radius: 0;

}

.fig3:hover img {
    transform: scale(.9);
}

/* IMAGENES */
.imghover {
display: flex;
}

.hov1, .hov2, .hov3 {
    border: 1px solid black;
    transition-duration: 1s;
}

.imghover figcaption {
    position: relative;
    transform: none;
    opacity: 1;
    transition-duration: 0;
}

.hov1:hover {
    transform: scale(2);
    z-index: 1;
    
}

.hov2 {
    width: 200px;
    text-align: center;
    flex-direction: row;
}

.hov2 figcaption {
    width: 50%;
    transition-duration: 0s;
}

.hov2 img {
    align: right;
    width: 50%;
    height: 100%;
    transition-duration: .3s;
}

.hov2:hover {
    flex-direction: column;
}

.hov2:hover figcaption {
    width: 100%;
}
.hov2:hover img {
    transform:  scaleX(2) translateX(25px);
    z-index: 1;
    
}
.hov2 {
    
}